<app-header></app-header>
<div class="container">
    <div class="row" style="margin-top:3%;">
        <h1 style="color:#87CEFA;text-align: center;margin-bottom:3%;">Search App&nbsp;<i class="fa fa-search" style="color:#87CEFA;" aria-hidden="true"></i></h1>
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." #searchTerm>
                <span class="input-group-btn">
              <button class="btn btn-default" type="button" (click)="search(searchTerm)">Go!</button>
            </span>
            </div>
        </div>
        <div class="col-lg-6">
        </div>
    </div>
    <div style="height:80%; padding-bottom:15%;">
        <!--<table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <td (click)="onNameCliked(item)">{{item.name}} </td>
                    <td (click)="onDescCliked(item)">{{item.desc}}</td>
                </tr>
            </tbody>
        </table>-->
        <h1>Angular 2 Recursive List</h1>
        <app-rendertable [treeData]="list"></app-rendertable>
    </div>
</div>


<app-footer></app-footer>